body {
  background-color: #212121;
  background: url('../../img/brickwall.png');
}
.brand-div {
	margin: 5px;
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.cards {
  margin: 10px;
  background-color: #ccc !important;
  min-height: 160px;
  padding-left: 45%;
}
.card-header {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #EF5350;
	margin: 10px;
}
strong {
	text-transform: uppercase;
	font-size: 14px;
	color: #999;
}
hr {
	
	border-bottom: 1px solid #424242;
}
.bm-name {
	font-family: 'Play', serif;
	font-weight: 40;
	font-size: 1.3em;
	color: #80CBC4;
}
.item-header {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	color: #222;
	line-height: 160px;
	text-align: center;
}
.top-card {
	background-color: #212121 !important;
}
.tabs {
	background-color: #222 !important;
}